.nav{
    font-family: Arial, sans-serif;
   display: flex;
   height:8%;
    background-color: #000000c4;
    align-items: center;
    position: relative;
}

#three{
    font-size: larger;
    font-weight: bolder;
    color:white;
    position: relative;
    left: 2%;
    

}
#three:hover{
    color:#d9534f;
}
#one{
    position: relative;

    color: white;
    left:37%;

    font-size: xx-large;
    font-weight: bolder;
  
    

}
.nav-form{
    top: 15%;
    position: relative;
    left: 2%;
  
}

#two{
    position: relative;
    left:72%;
   

}

a{
    font-weight: bolder;
    color:white;
    font-size: large;
    text-decoration: none;
}

a:hover{

    color: #d9534f;

}

