<header>
 
    <link rel="stylesheet" href="/css/_header.css">
    <div class="nav">

        <div id="one">WorkEx</div>
      <div id="two">
       
          <a href="/api/auth/logout" >Logout</a>
      </div>

    </div>
     
</header>