<link rel="stylesheet" href="/css/home.css">

<html>
<head>
	<title>WorkEx</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>WorkEx</h1>
	</header>
	<div class="container">
		<p>Workload Scheduling</p>
		<button class="button"><a href="/api/auth/sign_in">Login</a></button>
	</div>
</body>
</html>